<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no， initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>color</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div id="container"></div>
    <div class="brushes-container">
        <div class="brushes"></div>
    </div>
<script>
    window.colors = {{colors | safe}};
    window.svg = `{{svg | safe}}`;
    window.name = `{{name | safe}}`;
</script>
<script src="/static/jquery.js"></script>
<script src="/static/hammer.js"></script>
<script src="/static/paint.js"></script>
</body>
</html>